/*****Styling for universal markup******/

/*The side nav title heads*/
/*doesnt seem to be in effect*/
/*h2 {
    font-size: 16px;
    margin-left: 10px;
}*/

/*the results status line*/
h4 {
    text-align: center;
}

/*affects the policies list entries (cate/doctype are overruled)*/
li {
    font-size: 16px;
}

    /*Affects the individual list items*/
    li a {
        display: block;
        color: #000;
        padding: 5px;
    }

        /* Change the link color on hover */
        li a:hover {
            background-color: #555;
            color: white;
            text-decoration: none;
        }

/*Table design*/

/*this is affecting the inner misc table*/
table {
    width: 100%;
    table-layout: auto;
    border-collapse:collapse;
}

    th, td {
        /*may not be used*/
        /*padding-left: 5px;
        padding-right: 5px;*/
        text-align: center;
        font-size: 16px;
        border: 1px solid black !important; /*needs important to overrule grey table look*/

    }

    /*makes th not wrap*/
    th {
        white-space:nowrap;
    }
        
        /*makes the column sorter links appear black like the rest of column headers*/
        th a {
            color: inherit;
        }

    /*this makes the row highlighting disappear, not sure if I want*/
    /*td {
        background: white;
    }*/

/*dont think its affecting anything*/
/*form {
    margin-right: 10px;
}*/

    /*Affects the Search box text*/
    form input {
        text-align: center;
    }


/*****Tags from the master page******/
/*Sets the top Westland Banner, at fixed height*/
header {  
    background: url(../Images/logo.png) no-repeat bottom;
    background-color: #26728a;
    height: 10vh;
}

/*****Tags from the PublicVM.Index page******/
/*Makes the nav height to match remaining screen height, breaks for mobile*/
#public_navigation {
    background-color: lightgrey;
    /*height: inherit;*/
    width: 25%;
    /*min-width: 200px;*/
    padding: 0;
}

    /*make the nav-cat/poly switcher have some margin, while list has none*/
    .nav-button {
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        height: 5%;
    }
        /*affects the categories/policies span texts */
        .nav-button * {
            font-size: 15px;
            font-weight: bold;
            padding: 0;
            margin: 0;
        }

        /*div for category/policy switcher*/
        .cat_pol_switcher{
            padding: 0;
        }

            /* The switch control appearance*/
            .switch {
                position: relative; 
                width: 50px;
                height: 34px;
            }
                /* Hide default HTML checkbox */
                .switch input {display:none;}

                /* The slider back area*/
                .slider {
                    position: absolute;
                    cursor: pointer;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: black;
                    -webkit-transition: .4s;
                    transition: .4s;
                }

                    /*the slider white circle*/
                    .slider:before {
                        position: absolute;
                        content: "";
                        height: 26px;
                        width: 26px;
                        left: 4px;
                        bottom: 4px;
                        background-color: white;
                        -webkit-transition: .4s;
                        transition: .4s;
                    }

                    /*Slider changed color*/
                    input:checked + .slider {
                        background-color: #2196F3;
                    }


                    /*The Slider Movement Animation*/
                    input:checked + .slider:before {
                        -webkit-transform: translateX(16px);
                        -ms-transform: translateX(16px);
                        transform: translateX(16px);
                    }

                    /* Outer Rounded slider part */
                    .slider.round {
                        border-radius: 34px;
                    }

                    /* Inner Rounded slider part */
                    .slider.round:before {
                        border-radius: 50%;
                    }

    /*affects the overall list box*/
    .nav_lists_outer {
        /*overflow-y: hidden; Makes #outer contain its floated children */
        margin: 0;
        width: 100%;
        height: 80%;
    }

        /*The nav lists and it's title*/
        .nav_lists{
            padding-left: 0;
            padding-right: 0;
            width: inherit;
            height: 100%;
        }

            /*Affects the nav bar list, as well as the pagedList*/
            .nav_lists ul{
                /*float: left; NOT DOING ANYTHING. Make this div as wide as its contents */
                /* Colours and borders for illustration purposes */
                width: inherit;
                list-style-type: none;
                font-size: 14px;
                padding-left: 0px;
                background-color: rgba(65, 103, 118, 0.40);
            }

            /*affects the cate/policy title*/
            .nav_lists h2 {
                font-size: 25px;
                text-align: center;
                margin: 10px;
            }

            /*affects the entire category background on hover of inside doctype*/
            #category_list > li:hover,  #category_list > li li:hover{
                background-color: #555;

            }

            /*affects the category names*/
            .category_nav > div > a {
                font-size: 20px;
                font-weight: bold;
            }

            /*DocType sublist item font adjustments*/
            #docType_list li a{
                font-size: 16px;
                padding-left: 20px;
            }

            /*Needed to allow a scrollable policy list if needed*/
            #policy_section {
                /*height: 100%;*/
                width: auto; /*might not be needed*/
            }

            /*Used to toggle which sub-bar to see*/
            .hidden {
                display: none;
            }

                /*Give a scroll to the ul policy list*/
                #policy_list{
                    width: 100%;
                    height: inherit;
                    overflow-y: scroll;
                }

/*Makes the main content height to match remaining screen height, breaks for mobile*/
/*The main part of the content, which involves 'public' info, search bar, and date filters*/
#public_info {
    height: 90vh;
    width: 75%;
    flex: auto;
    /*overflow-y:auto;*/ /*Makes it that the parent div will adjust height to dynamic table height*/
    background-color: white;
    /*overflow:hidden;*/
}

    /*Constant 'public' info display*/
    .public_name_id {
        height: 75px;
        text-align: center;
    }

        /*affects the name and id status positioning*/
        .public_name_id h3 {
            position: absolute;
            top: 25%;
            left: 25%;
        }

    /*Gives the input boxes a better look*/
    .filter {
        text-align: center;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /*Anchors with class 'button' changes (i.e. Clear Button)*/
    a.button, #formSubmitId {

        font-weight: 500;
        font-family: sans-serif;
        font-size: 17px;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 1px solid #000;
        border-left: 1px solid #000;
        margin-bottom: 10px;
    }

    a.button:active {
        /*Figure out how to immitate button animation*/
}


/*****Tags from the PublicVM._PublicTable page******/

/*Default Table columns*/
/*show 1, 2, 9, 10, 11*/
/*hide 3, 4, 5, 6, 7, 8*/
.default-table .main-rows>th:nth-child(-4n + 8), .default-table .main-rows>td:nth-child(-4n + 8), .default-table .main-rows>th:nth-child(-3n + 6), .default-table .main-rows>td:nth-child(-3n + 6), .default-table .main-rows>th:nth-child(7), .default-table .main-rows>td:nth-child(7), .default-table .main-rows>th:nth-child(5), .default-table .main-rows>td:nth-child(5){
    display: none;
}

/*show 1, 2, 5, 9, 10, 11*/
/*hide 3, 4, 5, 6, 8*/
.category .main-rows>th:nth-child(-4n+8), .category .main-rows>td:nth-child(-4n+8), .category .main-rows>th:nth-child(-3n+6), .category .main-rows>td:nth-child(-3n+6), .category .main-rows > th:nth-child(5), .category .main-rows > td:nth-child(5) {
    display: none;
}

/*Hides select columns when in subcategory - category*/
/*.category .main-rows>th:nth-child(-4n + 11), .category .main-rows>td:nth-child(-4n + 11), .category .main-rows>th:nth-child(-4n + 8), .category .main-rows>td:nth-child(-4n + 8), .category .main-rows>th:nth-child(11), .category .main-rows>td:nth-child(11), .category .main-rows>th:nth-child(6), .category .main-rows>td:nth-child(6), .category .main-rows>th:nth-child(5), .category .main-rows>td:nth-child(5){
    display: none;
}*/

/*2, 9, 10, 11*/
/*1, 3, 4, 5, 6, 7, 8*/
/*Hides select columns when in subcategory - doctype*/
.doctype .main-rows>th:nth-child(-4n+8), .doctype .main-rows>td:nth-child(-4n+8), .doctype .main-rows>th:nth-child(-2n+7), .doctype .main-rows>td:nth-child(-2n+7), .doctype .main-rows>th:nth-child(6), .doctype .main-rows>td:nth-child(6), .doctype .main-rows>th:nth-child(5), .doctype .main-rows>td:nth-child(5){
    display: none;
}

/*1, 2, 5, 9, 10, 11*/
/*3, 4, 6, 7, 8*/
/*Hides select columns when in subcategory - policy*/
.policy .main-rows>th:nth-child(-4n+8), .policy .main-rows>td:nth-child(-4n+8), .policy .main-rows>th:nth-child(7), .policy .main-rows>td:nth-child(7), .policy .main-rows>th:nth-child(6), .policy .main-rows>td:nth-child(6), .policy .main-rows>th:nth-child(3), .policy .main-rows>td:nth-child(3){
    display: none;
}

/*1, 2, 3, 6, 9, 10, 11*/
/*4, 5, 7, 8*/
/*Hides select columns when in policy - correspondence*/
.correspondence .main-rows>th:nth-child(-4n+8), .correspondence .main-rows>td:nth-child(-4n+8), .correspondence .main-rows>th:nth-child(7), .correspondence .main-rows>td:nth-child(7), .correspondence .main-rows>th:nth-child(5), .correspondence .main-rows>td:nth-child(5){
    display: none;
}

/*2, 4, 5, 7, 8, 9, 10, 11*/
/*1, 3, 6*/
/*Hides select columns when in doctype - declaration/endorsement*/
.declaration .main-rows>th:nth-child(-3n+6), .declaration .main-rows>td:nth-child(-3n+6), .declaration .main-rows>th:nth-child(1), .declaration .main-rows>td:nth-child(1){
    display: none;
}

/*makes the 'More(symbol)' stick together in Misc Table*/
.main-rows > td:nth-child(11) {
    white-space:nowrap;
}

    /*affects the description td records*/
    .description {
        max-width: 300px;
    }

    /*the pagination positioning*/
    .pagedList {
        margin-left: auto;
        margin-right: auto;
    }

        /*not sure if doing anything*/
        /*.PagedList-pageCountAndLocation {
            white-space:nowrap;
        }*/


/*****Tags from the JS manipulation page******/

/*not sure if doing anything*/
/*.nav_cate_hover{
    background-color: #555;
    color: white;
    text-decoration: none;
    overflow: auto;
    clear: both;
}*/

/*gives style to current active navbar list item*/
.active {
    /*background-color: #26728a;*/
    background-color: #4e4848;
    overflow: hidden;
    clear: both;
}

    .active * {
        color: white;
    }

/*Preview Image sizing*/
.previewImg {
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 100px;    
}


/*****Media Tags for alternating screen size******/

/*removes tables columns on shrinking size*/
@media(max-width:767px){
    .main-rows > th:nth-child(1), .main-rows > td:nth-child(1), .main-rows > th:nth-child(3), .main-rows > td:nth-child(3), .main-rows > th:nth-child(4), .main-rows > td:nth-child(4), .main-rows > th:nth-child(5), .main-rows > td:nth-child(5), .main-rows > th:nth-child(6), .main-rows > td:nth-child(6), .main-rows > th:nth-child(7), .main-rows > td:nth-child(7), .main-rows > th:nth-child(8), .main-rows > td:nth-child(8), .main-rows > th:nth-child(11), .main-rows > td:nth-child(11) {
        display: none;
        overflow: scroll;
    }


}
@media(min-width:768px){}

@media (max-width: 800px){
    .div-table {
        display: table;
        content: "";
        clear: both;
        width: 100%;
    }

    .cat_pol_switcher {
        margin-top: 20px;
    }

    .nav-button {
        padding: 10px;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

        /* The slider back area*/
        .slider {
            top: -20px;
            left: 10px;
            right: 10px;
            bottom: 0;
        }

            /*the slider white circle*/
            .slider:before {
                left: 2px;
                bottom: 25px;
            }

            /*The Slider Movement Animation*/
            input:checked + .slider:before {
                -webkit-transform: translateY(20px);
                -ms-transform: translateY(20px);
                transform: translateY(20px);
            }

    /*affects the category names*/
    .category_nav > div > a {
        font-size: 15px;
    }

    /*DocType sublist item font adjustments*/
    #docType_list li a, #policy_list li a{
        font-size: 12px;
    }
}


/*everything after here needs to be refactored into upper styling*/
.misc_table {
    background-color: #e5e5e5;
}
    .misc_table tr {
        
    }

    .misc_table table {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .ref_table {
        margin-top: 12px;
    }

th {
    background-color: #c2c1c1 !important;
}