

/*Sets the top Westland Banner, at fixed height*/
header {  
    background: url(../Images/logo.png) no-repeat bottom;
    background-color: #26728a;
    height: 10vh;
}

/*Makes the nav height to match remaining screen height, breaks for mobile*/
#public_navigation {
    background-color: rgba(191, 215, 48, 0.7);
    height: 90vh;
    width: 20%;
}

/*Makes the main content height to match remaining screen height, breaks for mobile*/
#public_info {
    height: 90vh;
    width: 80%;
    overflow:auto; /*Makes it that the parent div will adjust height to dynamic table height*/
}

/*Affects the nav bar list, as well as the pagedList*/
ul {
    list-style-type: none;
    font-size: 14px;
    padding-left: 0px;
    background-color: rgba(0, 161, 228, 0.4);
}

/*Affects the individual list items*/
li a {
    display: block;
    color: #000;
    padding: 5px;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
    text-decoration: none;
}


/*#category_list > li:hover,  #category_list > li li:hover{
    background-color: #555;

}*/

.nav_cate_hover{
    background-color: #555;
    color: white;
    text-decoration: none;
    overflow: auto;
    clear: both;
}

.active {
    background-color: white;
    color: white;
    overflow: hidden;
    clear: both;
}

/*Used to toggle which sub-bar to see*/
.hidden {
    display: none;
}

/*The side nav title heads*/
h2 {
    font-size: 16px;
    margin-left: 10px;
}

/*div for category/policy switcher*/
.cat_pol_switcher{
    padding: 0;
}

/* The switch control appearance*/
.switch {
    position: relative;
    margin-left: 15px; 
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider back area*/
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

/*the slider white circle*/
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/*Slider changed color*/
input:checked + .slider {
    background-color: #2196F3;
}

/*input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}*/

/*The Slider Movement Animation*/
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Outer Rounded slider part */
.slider.round {
    border-radius: 34px;
}

/* Inner Rounded slider part */
.slider.round:before {
    border-radius: 50%;
}

/*The main part of the content, which involves 'public' info, search bar, and date filters*/
#public_info {
    background-color: rgba(237, 28, 36, 0.5);
}


/*Default Table columns*/
/*show 1, 2, 9, 10, 11*/
/*hide 3, 4, 5, 6, 7, 8*/
.default-table .main-rows>th:nth-child(-4n + 8), .default-table .main-rows>td:nth-child(-4n + 8), .default-table .main-rows>th:nth-child(-3n + 6), .default-table .main-rows>td:nth-child(-3n + 6), .default-table .main-rows>th:nth-child(7), .default-table .main-rows>td:nth-child(7), .default-table .main-rows>th:nth-child(5), .default-table .main-rows>td:nth-child(5){
    display: none;
}

/*show 1, 2, 9, 10*/
/*hide 3, 4, 5, 6, 7, 8, 11*/
/*Hides select columns when in subcategory - category*/
.category .main-rows>th:nth-child(-4n + 11), .category .main-rows>td:nth-child(-4n + 11), .category .main-rows>th:nth-child(-4n + 8), .category .main-rows>td:nth-child(-4n + 8), .category .main-rows>th:nth-child(11), .category .main-rows>td:nth-child(11), .category .main-rows>th:nth-child(6), .category .main-rows>td:nth-child(6), .category .main-rows>th:nth-child(5), .category .main-rows>td:nth-child(5){
    display: none;
}

/*2, 9, 10, 11*/
/*1, 3, 4, 5, 6, 7, 8*/
/*Hides select columns when in subcategory - doctype*/
.doctype .main-rows>th:nth-child(-4n+8), .doctype .main-rows>td:nth-child(-4n+8), .doctype .main-rows>th:nth-child(-2n+7), .doctype .main-rows>td:nth-child(-2n+7), .doctype .main-rows>th:nth-child(6), .doctype .main-rows>td:nth-child(6), .doctype .main-rows>th:nth-child(5), .doctype .main-rows>td:nth-child(5){
    display: none;
}

/*1, 2, 5, 9, 10, 11*/
/*3, 4, 6, 7, 8*/
/*Hides select columns when in subcategory - policy*/
.policy .main-rows>th:nth-child(-4n+8), .policy .main-rows>td:nth-child(-4n+8), .policy .main-rows>th:nth-child(7), .policy .main-rows>td:nth-child(7), .policy .main-rows>th:nth-child(6), .policy .main-rows>td:nth-child(6), .policy .main-rows>th:nth-child(3), .policy .main-rows>td:nth-child(3){
    display: none;
}

/*1, 2, 3, 6, 9, 10, 11*/
/*4, 5, 7, 8*/
/*Hides select columns when in policy - correspondence*/
.correspondence .main-rows>th:nth-child(-4n+8), .correspondence .main-rows>td:nth-child(-4n+8), .correspondence .main-rows>th:nth-child(7), .correspondence .main-rows>td:nth-child(7), .correspondence .main-rows>th:nth-child(5), .correspondence .main-rows>td:nth-child(5){
    display: none;
}

/*2, 4, 5, 7, 8, 9, 10, 11*/
/*1, 3, 6*/
/*Hides select columns when in doctype - declaration/endorsement*/
.declaration .main-rows>th:nth-child(-3n+6), .declaration .main-rows>td:nth-child(-3n+6), .declaration .main-rows>th:nth-child(1), .declaration .main-rows>td:nth-child(1){
    display: none;
}

/*DocType sublist item font adjustments*/
#docType_list li a{
    font-size: 80%;
    padding-left: 10px;
}

/*Anchors with class 'button' changes (i.e. Clear Button)*/
a.button {
     background: url(../Images/clear.png) no-repeat center;
     display: block;
     background-size: 60px 20px;
     height: inherit;
     text-indent: -9999px;
}

/*Constant 'public' info display*/
.public_name_id {
    height: 75px;
    text-align: center;
}

.public_name_id h3 {
    position: absolute;
    top: 25%;
    left: 25%;
}

/*Table design*/
table {
    width: 100%;
    table-layout: auto;
}

th, td {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    font-size: 16px;
    border: 1px solid black !important;
}

tr {

}

td {
    background: white;
}

.pagedList {
    
}

.pagination{

}

.pagination{

}

/*The nav lists and it's title*/
.nav_lists{
    padding-left: 0;
    padding-right: 0;
}

.nav_lists ul{
    float: left;/* Make this div as wide as its contents */
    /* Colours and borders for illustration purposes */
    width: 1000px;
}


.nav_lists_outer {
    overflow: hidden;/* Makes #outer contain its floated children */
    width:initial;
}

#public_navigation {

}

.filter {
    text-align: center;
    margin-bottom: 5px;
}

li {
    font-size: 20px;
}

/*Preview Image sizing*/
.previewImg {
    width: auto;
    max-width: 150px;
    height: auto;
    max-height: 100px;    
}

h4 {
    text-align: center;
}
