@model IPagedList<PublicVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Admin</h2>

@Html.Partial("_CategoryNavBar", Model)

@Html.Partial("_PublicTable", Model)