@{
    ViewBag.Title = "Westland Archive System ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*568801 is Ramins test public #, 34 is his folder_id*@


@using (Html.BeginForm("Index", "Folder", FormMethod.Get))
{
    <h1>Enter the Client Id then Submit</h1>
    <h2>Ramin: 568801</h2> <!--34 folder id on local-->
    <h2>Mary: 1186367</h2>
    <h2>Client Id with a picture: 1403635</h2>
    <h2>Browns Client Id = 1012504</h2>
    @Html.Label("ClientId", "Client Id")
    @Html.TextBox("ClientId", 1186367); 

    <input type="submit" value="Submit" />
}

<br/><br />