@{
    ViewBag.Title = "Westland Archive System ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*568801 is Ramins test public #, 34 is his folder_id*@

@using (Html.BeginForm("Index", "Folder", FormMethod.Get))
{

    <h1>Enter the Client Id then Submit</h1>

    @Html.Label("ClientId", "Client Id ")
    @Html.TextBox("ClientId", 568801);

    <input type="submit" value="Submit" />
}