@{
    ViewBag.Title = "Westland Archive System ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*568801 is Ramins test public #, 34 is his folder_id*@

@using (Html.BeginForm("Index", "Folder", FormMethod.Get))
{

    <h1>Enter the Client Id then Submit</h1>
    <h2>Ramin: 568801</h2>
    <h2>Mary: 1186367</h2>
    <h2>Jackie Tester account with training2 server: 1435693</h2>
    <h2>Client Id with a picture: 1403635</h2>
    @Html.Label("ClientId", "Client Id")
    @Html.TextBox("ClientId", 568801);

    <input type="submit" value="Submit" />
}

<br/><br />

@*Should eventually move this functionality into a role specific button/dropdown inside the main page*@
@using (Html.BeginForm("DownloadAllDocuments", "Folder", FormMethod.Get)) {
    <h1>Download all files from this Folder</h1>

    @Html.Label("ClientId", "Client Id ")
    @Html.TextBox("ClientId", 1435693);

    <input type="submit" value="Submit" />
}