@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="error-page">
    <h4 class="text-danger">An error occurred while processing your request.</h4>
    <h4>Please contact IT-Support if you need assistance.</h4>
</div>
